.scroller {
    max-height: 50%;
    max-width: 80%;
}

.disclaimerList {
    margin: 0;
    padding: 0 5px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.disclaimerItem {
    list-style-type: none;
    margin-bottom: 10px;
}

.fader {
    transition: all 0.5s;
    position: relative;
    bottom: 5em;
    height: 5em;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgb(141, 141, 141, 1) 100%
    );
}

.confirmation {
    display: flex;
    /* align-content: center; */
    flex-direction: column;
}

.buttonBox {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    /* transition: 0.3s all; */
    padding: 10px 10px;
    display: inline-block;
    border-radius: 0;
}

.button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.agreement{
    font-weight: bold;
}

.disclaimerAlert {
    border: red 1px;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    input[type=checkbox].css-checkbox {
          position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height:1px; 
        width:1px; 
        margin:-1px; 
        padding:0;
        border:0;
    }
    
    input[type=checkbox].css-checkbox + label.css-label {
        padding-left:20px;
        height:15px; 
        display:inline-block;
        line-height:15px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:15px;
        vertical-align:middle;
        cursor:pointer;
    }
    
    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -15px;
    }
    
    .css-label{
        background-image:url(../img/lite-green-check.png);
    }