.scroller {
    max-height: 60%;
    max-width: 80%;
}

.disclaimerList {
    margin: 0;
    padding: 0 25px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.disclaimerItem {
    list-style-type: lower-alpha;
    margin-bottom: 10px;
}

.fader {
    transition: all 0.5s;
    position: relative;
    bottom: 5em;
    height: 5em;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgb(141, 141, 141, 1) 100%
    );
}

.confirmation {
    display: flex;
    /* align-content: center; */
    flex-direction: column;
}

.buttonBox {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    /* transition: 0.3s all; */
    padding: 10px 10px;
    display: inline-block;
}

.button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}