.infoBox {
    text-align: center
}

.infoBox .welcome {
    font-size: 2rem;
    margin: 20px 0;
}

.infoBox .intro {
    font-size: 1rem;
}

.startButton {
    font-size: 1.6rem;
    background-color: #fff;
    color: #000;
    transition: 0.5s all;
    text-align: center;
    padding: 10px 60px;
    display: inline-block;
    text-decoration: none;
}

.startButton:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.credits {
    font-size: 0.8rem;
    color: #ccc;
}