/* Autor: Jaap Kanbier (2019) */
h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}

.menuItems {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    text-align: center;
    display: inline-block;
    list-style: none;
    background-color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    min-width: 125px;
}

.iconContainer img {
    height: 20px;
    position: relative;
    top: 5px;
    margin: 0 5px;
}

.startIcon img {
    height: 24px;
}

.secondary .button {
    background-color: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    font-size: 0.9rem;
}

.button:hover {
    filter: invert(100%)
}

.startButton {
    display: inline-block;
    font-size: 1.4rem;
    align-self: center
}

.buttonUnavailable {
    cursor: not-allowed;
    opacity: 0.5;
}

.buttonUnavailable:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (orientation:portrait) {
    .menuItems {
        flex-direction: column;

    }

    .button {
        min-width: 250px;

    }
}